.App {
  text-align: center;
}
body{
  overflow-y: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgb(230, 187, 187);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.login-form {
  
  max-width: 500px;
  /* margin:25%; */
  margin: 0 auto;
  margin-top: 2%;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.container{
  width:70%;
  margin: 0 auto;
}
.fields{
  line-height: 2.5;
}
#btn-s{
  padding-block: 50px;
  background-color: #4a7fd7 !important
}
.mainContent{
  /* background-color: #61dafb; */
  margin: 15%;
  /* width: 300px; */
}
.btn-hover:hover{
 background-color: rgb(122 166 239) !important;
 box-shadow: azure !important;
 color:gray !important;
}
.red-text{
  color:red;
}
.green-text{
  color: green;
}
.ant-form .ant-form-horizontal{
  text-align: left !important;
}
.ant-col .ant-form-item-label .ant-col-xs-16 .ant-col-sm-8{
  text-align: left !important;
}

.ant-form-horizontal .ant-form-item-label {
  padding-left: 35px;
  text-align: left;
}
#main{
  margin-top: 30px !important;
  text-align: left;
}
#heading2{
  margin-bottom: 30px;
}
#registerbtn{
  width: 140px !important;
  height: 40px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
